<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--jquery.min.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Font Style-->
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Quattrocento+Sans" rel="stylesheet">
    <!--semantic.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <!--semantic.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
    <!--Favicon-->
    <link rel="shortcut icon" href="./assets/images/favicon/favicon.ico" type="image/x-icon">
    <!--CSS-->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!--Web Site Title-->
    <title>Games Website</title>
</head>
<body>
    <div class="container">
      <!-- Nav Bar -->
        <div class="ui menu">
            <a class="item home header" href="/">Home</a>
            <a class="item signup header" href="#" id="signupModal">Sign Up</a>
            <a class="item signup header" href="#" id="signinModal">Log In</a>
            <a class="item profile header" href="/profile">Profile</a>
        </div>
        </br>
        <!-- search bar -->
        <div class="ui centered grid">
            <div class="ui action input">
                <input type="text" placeholder="Search..." id="gameSearch">
                <button class="ui icon button content" id="search">
                    <i class="search icon"></i>
                </button>
            </div>
        </div>

        </br>
        </br>
{{!-- Sign In modal / Note:confirmation sing up  --}}
        <div class="ui modal signinModal">
            <!-- e-mail
        password
        name -->
            <i class="close icon"></i>
            <div class="header">
                Login
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <!-- <img src="/images/avatar/large/chris.jpg"> -->
                </div>
                <div class="ui input">
                    <input type="text" id="email" placeholder="Email...">
                </div>
                <div class="ui input">
                    <input type="text" id="password" placeholder="Password...">
                </div>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <div class="ui positive right labeled icon button">
                    Login
                    <i class="user icon"></i>
                </div>
            </div>
        </div>
        <div class="ui modal signupModal">
            <!-- e-mail
        password
        name -->
            <i class="close icon"></i>
            <div class="header">
                Sign Up
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <!-- <img src="/images/avatar/large/chris.jpg"> -->
                </div>
                <div class="ui input">
                    <input type="text" id="firstName" placeholder="First Name...">
                </div>
                <div class="ui input">
                    <input type="text" id="lastName" placeholder="Last Name...">
                </div>
                <div class="ui input">
                    <input type="text" id="email" placeholder="Email...">
                </div>
                <div class="ui input">
                    <input type="text" id="password" placeholder="Password...">
                </div>
                <div class="ui input">
                    <input type="text" placeholder="SSN...">
                </div>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <div class="ui positive right labeled icon button">
                    Sign Up
                    <i class="user icon"></i>
                </div>
            </div>
        </div>
        
{{{body}}}

</div>

</body>
</html>