<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--jquery.min.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Font Style-->
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Quattrocento+Sans" rel="stylesheet">
    <!--semantic.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <!--semantic.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
    <!--Favicon-->
    <link rel="shortcut icon" href="./assets/images/favicon/favicon.ico" type="image/x-icon">
    <!--CSS-->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!--Web Site Title-->
    <title>Games Website</title>
</head>

<body>
    <div class="container">
        <video autoplay muted loop id="myVideo">
            <source src="./assets/images/Video/Warhammer-Vermintide-2-Live-Wallpaper-1.mp4" type="video/mp4"> Your browser does not support HTML5 video.
        </video> -->

       <!--<! Nav Bar Sergio-->

        <div class="ui inverted  menu">
            <a class="item home header" href="/">Home</a>
            <a class="item signup header" href="#" id="signupModal">Sign Up</a>
            <a class="item signup header" href="#" id="signinModal">Log In</a>
            <a class="item profile header" href="/profile">Profile</a>
            <!-- Right menu Log out -->
            <div class="right menu sticky">
                <button id="logOut" class="ui animated button" role="button">
                    <div class="visible content">Log Out</div>
                    <div class="hidden content">
                        <i aria-hidden="true" class="right ui inverted green arrow icon"></i>
                    </div>
                </button>
            </div>
            <!--  -->
        </div>


        <!-- Search -->
        <div class="ui internally celled centered grid ">
            <div class="ui action input">
                <input id="gameSearch" type="text" placeholder="Search...">
                <button id="search" class="ui fade animated button" role="button">
                    <div class="visible content">
                        <i class="ui inverted green search icon"></i>
                    </div>
                    <div class="hidden content">Search</div>
                </button>
            </div>
        </div>
        
        {{!-- Sign In modal / Note:confirmation sing up --}}
        <form action="/login" method="POST" class="ui modal form signinModal">

            <i class="close icon"></i>
            <div class="header">
                Login
            </div>
            <div class="content">
                <div class="two fields">
                    <div class="field">
                        <input name="email" type="text" id="email" placeholder="Email...">
                    </div>
                    <div class="field">
                        <input name="password" type="password" id="password" placeholder="Password...">

                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <div id="loginButton" type="submit" class="ui positive right labeled icon button">
                    Login
                    <i class="user icon"></i>
                </div>
            </div>
        </form>

        {{!-- Sign Up Modal --}}
        <form action="/signup" method="POST" class="ui modal form signupModal">
            <i class="close icon"></i>
            <div class="header">
                Sign Up
            </div>
            <div class="content">
                <label>Name</label>
                <div class="two fields">
                    <div class="field">
                        <input name="firstName" type="text" id="firstName" placeholder="First Name...">
                    </div>
                    <div class="field">
                        <input name="lastName" type="text" id="lastName" placeholder="Last Name...">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Email</label>
                        <input name="email" type="text" id="signUpEmail" placeholder="Email...">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="ui left icon input">
                            <input name="password" type="password" id="signUpPassword">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <div id="signUp" type="submit" class="ui positive right labeled icon button">
                    Sign Up
                    <i class="user icon"></i>
                </div>
            </div>
        </form>

        {{{body}}}

        <div class="footer container">
            <div class="ui black inverted vertical footer segment">
                <div class="ui center aligned container">
                    <div class="ui stackable inverted  divided grid">
                        <div class="three wide column">
                            <h3 class="ui inverted orange header">Team Members</h3>
                            <div class="ui inverted link list">
                                <a href="https://github.com/mecaniser" class="item" target="_blank">
                                    <i class="green git square icon"></i>
                                    Sergio Burca</a>
                                <a href="https://github.com/maxbenrobb" class="item" target="_blank">
                                    <i class="green git square icon"></i>
                                    Maxwell Robb</a>
                                <a href="https://github.com/jaknowles97" class="item" target="_blank">
                                    <i class="green git square icon"></i>
                                    Andrew Knowles</a>
                                <a href="https://github.com/devindinapoli" class="item" target="_blank">
                                    <i class="green git square icon"></i>
                                    Devin Dinapoli</a>
                                <a href="https://github.com/jeasleygtr" class="item" target="_blank">
                                    <i class="green git square icon"></i>
                                    Jeffrey Easley</a>
                            </div>
                        </div>
                        <div class="ten wide column">
                            <h4 class="ui inverted header">Game collector</h4>
                                <p>The only and ultimate app that will make you happy and it will be fun to collect your games.</br>Yes! It is free!</p>
                        </div>
                         <div class="three wide column">
                            <h3 class="ui inverted orange header">LinkedIn</h3>
                            <div class="ui inverted link list">
                                <a href="https://www.linkedin.com/in/srgiobrca/" class="item" target="_blank">
                                    <i class="blue linkedin icon"></i>
                                    Sergio Burca</a>
                                <a href="https://www.linkedin.com/in/maxwell-robb-b99835117/" class="item" target="_blank">
                                    <i class="blue linkedin icon"></i>
                                    Maxwell Robb</a>
                                <a href="https://www.linkedin.com/in/john-knowles-37995a143/" class="item" target="_blank">
                                    <i class="blue linkedin icon"></i>
                                    Andrew Knowles</a>
                                <a href="https://www.linkedin.com/in/devin-dinapoli-4b8b8ab7/" class="item" target="_blank">
                                    <i class="blue linkedin icon"></i>
                                    Devin Dinapoli</a>
                                <a href="https://www.linkedin.com/in/jeffrey-easley-13333333/" class="item" target="_blank">
                                    <i class="blue linkedin icon"></i>
                                    Jeffrey Easley</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer copyright"> <p class="copyright">2018 Copyright and all legal stuff...</p></div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {
            $("#logOut").on("click", function (event) {
                event.preventDefault();
                $.get("/logout");
            })
        })
    </script>
</body>

</html>