<!--THIS IS game collection-->
<div class="ui container">
    <div class="ui relaxed divided items">
        <div class="ui inverted  center aligned header">
            <i class="ui inverted orange gamepad large icon"></i> Game Collection</div>
        <div class="ui divider"></div>
        <div class="ui four column doubling stackable grid container cards userGameSection">
            {{!-- Game collection will be created here --}}
        </div>
    </div>
</div>

<div class="ui modal gameModal">
    <i class="close icon"></i>
    <div class="header gameHeader">
        Summary
    </div>
    <div class="image content">
        <div class="ui medium image gameImage">
        </div>
        <div class="description">
            <div class="ui gameDescription">We've auto-chosen a profile image for you.</div>
        </div>
    </div>
    <div class="content">
        <div class="description">
            <h4>Game reviews</h4>
            <p>{{user.review}}</p>
        </div>
    </div>
    <div class="ui red segment right aligned">
        <div class="actions">
            <div class="ui black deny button">
                Back
            </div>
            <div class="ui green button" id="gamereviewModal">
                Review Game
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        function createCard(data) {

            for (var i = 0; i < data.length; i++) {

                let src;
                // Create an if conditional for screenshots since they aren't required.
                if (!data[i].cover.url) {
                    src = "http://via.placeholder.com/200x150";
                } else {
                    // Replace the img src to a higher res one.
                    src = data[i].cover.url.replace("t_thumb", "t_cover_big");
                }

                var gameCard = $(
                    "<div class='ui raised link card' id='gameId-" + data[0].id + "'>" +
                    "<div class='ui rounded image'>" +
                    "<img class=' gameImage' src='" + src + "'></div>" +
                    "<div class='content'>" +
                    "<p>" + data[0].name + "</p></div>" +
                    "<div class='extra content'>" +
                    "<button class='positive ui button' data-sum-id='" + data[0].summary + "' href='#' id='gameModal'>View Info</button>" +
                    "<div class='ui divider'></div>" +
                    "<div>" + "<button class='ui negative circular icon button delete' id='" + data[0].id + "'>" +
                    "<i class='trash icon'></i></button></div></div></div>"
                )

                $(".userGameSection").append(gameCard);
                $('.positive.button')
                    .transition({
                        animation: 'scale in',
                        duration: '1s'
                    });
            }
        }

        $(document).on("click", "#gameinfoModal", function () {
            $(".gameinfoModal").modal("show");
        });

        $(".modal").modal({
            closable: true
        });


        $.get("/currentuser", function (data) {
            console.log(data);
            console.log(data.game);
            for (let i = 0; i < data.game.length; i++) {
                $.get("/gameId?id=" + data.game[i].gameId, function (game) {
                    createCard(game);
                })
                $("#collection").text(data.game.length)

            }
        });

        $(document).on("click", ".delete", function () {
            var game = $(this).attr("id");
            console.log(game);
            $.post("/delete", { gameId: game });
            $("#gameId-" + game).remove();
        })

        $(document).on("click", "#gameModal", function () {
            $(".gameModal").modal("show");
            var gameSum = $(this).attr("data-sum-id");
            $(".gameDescription").text(gameSum)
        });


    });

</script>