<form action="/upload" method="Post" enctype="multipart/form-data">
    <label>Upload a .csv file of your collection!</label>
    <br><br>
    <input type="file" name="pic" accept="image/*">
    <input type="submit">
</form>

<form action="/add" method="Post">
    <input type="text" name="gameId" >
    <input type="text" name="platform">
    <input type="text" name="condition">
    <input type="text" name="genre">
    <input type="submit" name="submit">
</form>