<form action="/upload" method="Post" enctype="multipart/form-data">
    <label>Upload a .csv file of your collection!</label>
    <br><br>
    <input type="file" name="pic" accept="image/*">
    <input type="submit">
</form>