    <div class="ui link cards centered grid">
        <div class="results-field"></div>
            <div class="ui cards">

                <div class="card">
                    <div class="content">
                        <img class="game-image ui image small" src="/assets/images/gamelogo.jpg" alt="Game Logo">
                        <div class="header">
                            Default Game header
                        </div>
                        <div class="description">
                            Default game description
                        </div>
                    </div>
                    <div class="ui bottom attached button">
                        <i class="add icon"></i>
                            Add Game
                    </div>
                </div>

                <div class="card">
                    <div class="content">
                        <img class="game-image ui image small" src="/assets/images/gamelogo.jpg" alt="Game Logo">
                        <div class="header">
                            Default Game header
                        </div>
                        <div class="description">
                            Default game description
                        </div>
                    </div>
                    <div class="ui bottom attached button">
                        <i class="add icon"></i>
                            Add Game
                    </div>
                </div>
            </div>
    </div>


<script>
    function createGameSection(data) {
        for (var i = 0; i < data.length; i++) {
            var gameSection = $("<div>");
            gameSection.addClass("game");
            gameSection.attr("id", "game-well-" + data[i].id);
            $(".results-field").append(gameSection);
            $(gameSection).append("<img src=" + data[i].screenshots[0].url + ">");
            $(gameSection).append("<h3>" + data[i].name + "</h3>");
            $(gameSection).append("<p>" + data[i].summary + "</p>");
        }
    }

    $(document).ready(function () {
        $('.ui.rating').rating({
            initialRating: 3,
            maxRating: 5
        });
        $("#signinModal").click(function () {
            $(".signinModal").modal("show");
        });
        $("#signupModal").click(function () {
            $(".signupModal").modal("show");
        });
        $(".modal").modal({
            closable: true
        });

        $.get("/search?title=barbie", function (data) {
            console.log(data);
            createGameSection(data);
        });
    });

    $("#search").on("click", function (event) {
        event.preventDefault();
        $(".results-field").empty();
        var title = $("#gameSearch")
            .val()
            .trim();
        $.get("/search?title=" + title, function (data) {
            console.log(title);
            console.log(data);
            createGameSection(data);
        });
    });
</script>