<!--THIS IS HOMEPAGE-->



<div class="ui link cards centered grid results-field">

</div>

</div>


<script>

    $(document).ready(function () {

        function createGameSection(data) {
            for (var i = 0; i < data.length; i++) {
                var gameCard = $(
                    "<div class='game' id='game-well-'" + data[i].id + ">" +
                    "<div class='ui cards'>" +
                    "<div class='card'>" +
                    "<div class='content'>" +
                    "<img class='ui image fluid rounded gameImage' src=" +
                    data[i].screenshots[0].url + ">" +
                    "<div class='header gameHead'>" +
                    "<div class='ui animated fade button addGame' tabindex='0'id=" + data[i].id +">" +
                    "<div class='visible content'>"+ data[i].name + "</div>"+
                        "<div class='hidden content'>"+
                        "<i class='add icon'></i>" +
                        "Add Game" +
                       "</div>"+
                   "</div>"+
                    "<div class='description'>" +
                    data[i].summary +
                    "</div></div>" +
<<<<<<< HEAD
                    
=======
                    "<div class='ui bottom attached large button addGame' id=" + data[i].id + ">" +
                    "<i class='add icon'></i>" +
                    "Add Game" +
>>>>>>> b100bded5e759a92c6a34a097e1e6ce11e4cf531
                    "</div></div></div>")
                $(".results-field").append(gameCard);
            }

        }

        $(document).on("click", ".addGame", function () {
            var game = $(this).attr("id");
            console.log(game);
            $(this).text("Game Added")
        })


        $("#signinModal").click(function () {
            $(".signinModal").modal("show");
        });
        $("#signupModal").click(function () {
            $(".signupModal").modal("show");
        });
        $(".modal").modal({
            closable: true
        });

       /* $("#loginButton").on("click", function (event) {
            event.preventDefault();
            var email = $("#email").val().trim();
            var password = $("#password").val().trim();

            $.post("/login", { email: email, password: password })

        })


        $("#signUp").on("click", function (event) {
            event.preventDefault();
            var name = $("#firstName").val().trim() + " " + $("#lastName").val().trim();
            var email = $("#signUpEmail").val().trim();
            var password = $("#signUpPassword").val().trim();

            console.log(name);
            console.log(email);
            console.log(password);

            $.post("/signup", { name: name, email: email, password: password }, function (data) {

                console.log(data)
            });

        }) */



        $.get("/search?title=starfox", function (data) {
            console.log(data);
            createGameSection(data);
        });

        $("#search").on("click", function (event) {
            event.preventDefault();
            $(".results-field").empty();
            var title = $("#gameSearch")
                .val()
                .trim();
            $.get("/search?title=" + title, function (data) {
                console.log(title);
                console.log(data);
                createGameSection(data);
            });
        });

        $('#gameSearch').keypress(function(e){
            if(e.which == 13){//Enter key pressed
                $('#search').click();//Trigger search button click event
            }
    });


    });




</script>
