 <div class="ui link cards centered grid">
            <div class="card">
                <div class="image ui fluid">
                    <img class="gameImage" src="https://static.gamespot.com/uploads/scale_super/1552/15524586/3350291-d980a0d8a0609cedf692d619f3695576.jpg">
                </div>
                <div class="content">
                    <div class="header">Game 1</div>
                    <div class="meta">
                        <a>sub header?</a>
                    </div>
                    <div class="description content">
                        Super fun game!
                    </div>
                    <!-- button for adding game to profile -->
                    <button class="ui button">Add</button>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        Created: 2050
                    </span>
                    <span>
                        <i class="user icon"></i>
                        Users: 1,000,000
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="image ui fluid">
                    <img class="gameImage" src="./assets/images/grl.jpg">
                </div>
                <div class="content">
                    <div class="header">Game 2</div>
                    <div class="meta">
                        <span class="date">Sub header?</span>
                    </div>
                    <div class="description">
                        Incredible game everyone loves!
                    </div>
                    <button class="ui button">Add</button>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        Created: 2015
                    </span>
                    <span>
                        <i class="user icon"></i>
                        Users: 2,990,000
                    </span>
                </div>
            </div>
            <div class="card">
                <div class="image ui fluid">
                    <img class="gameImage" src="https://cdn.images.dailystar.co.uk/dynamic/184/photos/334000/620x/Super-Mario-Level-Up-Boardgame-605999.jpg">
                </div>
                <div class="content">
                    <div class="header">Game 3</div>
                    <div class="meta">
                        <a>Sub header?</a>
                    </div>
                    <div class="description">
                        Everyone loves this game!
                    </div>
                    <button class="ui button">Add</button>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        Created: 2014
                    </span>
                    <span>
                        <i class="user icon"></i>
                        Users: 1
                    </span>
                </div>
            </div>
        </div>