<!--THIS IS HOMEPAGE-->





<div class="ui link cards centered grid results-field">

</div>

<form class="ui modal form gameinfoModal">
    <i class="close icon"></i>
    <div class="header">Basic Game Information</div>
    <div class="content">
        <div class="fields">
            <div class="three wide field">
                <select class="ui dropdown">
                    <option value="">Game Platform</option>
                    <option value="0">PC</option>
                    <option value="1">Xbox 1</option>
                    <option value="2">PlayStation 4</option>
                    <option value="3">Nintendo Switch</option>
                </select>
            </div>
            <div class=" three wide field">
                <select class="ui dropdown">
                    <option value="">Condition</option>
                    <option value="0">New (in box)</option>
                    <option value="1">Lightly Used</option>
                    <option value="2">Well used</option>
                    <option value="3">Broken</option>
                </select>
            </div>
            <div class="field">
                <input type="text" name="copies" maxlength="3" placeholder="Number of Copies">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <button id="gameinfoButton" type="submit" class="ui positive button">Add</button>
    </div>
</form>


<script>

    $(document).ready(function () {

        function createGameSection(data) {

            for (var i = 0; i < data.length; i++) {
                let src;
                // Create an 'if(){}' conditional for screenshots since they aren't required.
                if (!data[i].cover.url) {
                    src = "http://via.placeholder.com/200x150";
                } else {
                    // Replace the img src to a higher res one.
                    src = data[i].cover.url.replace("t_thumb", "t_cover_big");
                }

                var gameCard = $(
                    "<div class='game' id='game-well-'" + data[i].id + ">" +
                    "<div class='ui cards'>" +
                    "<div class='card'>" +
                    "<div class='content'>" +
                    "<img class='ui image fluid rounded gameImage' src=" +
                    src + ">" +
                    "<div class='header gameHead'>" +
                    "<div class='ui animated fade button fluid addGame' data-id='" + data[i].id + "' tabindex='0' id='gameinfoModal'>" +
                    "<div class='visible content'>" + data[i].name + "</div>" +
                    "<div class='hidden content'>" +
                    "<i class='add icon'></i>" +
                    "Add Game" +
                    "</div>" +
                    "</div>" +
                    "<div class='description'>" +
                    data[i].summary +
                    "</div></div>" +
                    "</div></div></div>")
                $(".results-field").append(gameCard);
            }

        }

        $(document).on("click", ".addGame", function () {
            var game = $(this).attr("data-id");
            console.log(game);
            $(this).html("<i class='check icon'></i>");
            $.post("/currentuser", { gameId: game })
        })


        $("#signinModal").click(function () {
            $(".signinModal").modal("show");
        });

        $("#signupModal").click(function () {
            $(".signupModal").modal("show");
        });

        $(document).on("click", "#gameinfoModal", function () {
            $(".gameinfoModal").modal("show");
        });

        $(".modal").modal({
            closable: true
        });

        // this is currently the default search on page load.

        $.get("/search?title=starfox", function (data) {
            console.log(data);
            createGameSection(data);
        });

        $("#search").on("click", function (event) {
            event.preventDefault();
            $(".results-field").empty();
            var title = $("#gameSearch")
                .val()
                .trim();
            $.get("/search?title=" + title, function (data) {
                console.log(title);
                console.log(data);
                createGameSection(data);
            });
        });

        $("#gameSearch").keypress(function (e) {
            if (e.which == 13) {
                //Enter key pressed
                $("#search").click(); //Trigger search button click event
            }
        });
    });

</script>