<!--THIS IS HOMEPAGE-->



<div class="ui link cards centered grid results-field">

</div>

</div>


<script>

    $(document).ready(function () {

        function createGameSection(data) {
            for (var i = 0; i < data.length; i++) {
                var gameCard = $(
                    "<div class='ui cards'>" +
                    "<div class='card'>" +
                    "<div class='content'>" +
                    "<img class='ui image small gameImage' src=" +
                    data[i].screenshots[0].url + ">" +
                    "<div class='header gameHead'>" +
                    data[i].name +
                    "</div>" +
                    "<div class='description'>" +
                    data[i].summary +
                    "</div></div>" +
                    "<div class='ui bottom attached button' id=" + data[i].id + ">" +
                    "<i class='add icon'></i>" +
                    "Add Game" +
                    "</div></div>")
                var gameSection = $("<div>");
                gameSection.addClass("game");
                gameSection.attr("id", "game-well-" + data[i].id);
                $(".results-field").append(gameSection);
                $(gameSection).append(gameCard);

            }
        }



        $('.ui.rating').rating({
            initialRating: 1,
            maxRating: 5
        });
        $("#signinModal").click(function () {
            $(".signinModal").modal("show");
        });
        $("#loginButton").on("click", function (event) {
            event.preventDefault();
            var email = $("#email").val().trim();
            var password = $("#password").val().trim();

            $.post("/login", { email: email, password: password })

        })

        $("#signupModal").click(function () {
            $(".signupModal").modal("show");
        });

        $("#signUp").on("click", function (event) {
            event.preventDefault();
            var name = $("#firstName").val().trim() + " " + $("#lastName").val().trim();
            var email = $("#signUpEmail").val().trim();
            var password = $("#signUpPassword").val().trim();

            console.log(name);
            console.log(email);
            console.log(password);

            $.post("/signup", { name: name, email: email, password: password }, function (data) {

                console.log(data)
            });

        })

        $(".modal").modal({
            closable: true
        });

        $.get("/search?title=starfox", function (data) {
            console.log(data);
            createGameSection(data);
        });
    });

    $("#search").on("click", function (event) {
        event.preventDefault();
        $(".results-field").empty();
        var title = $("#gameSearch")
            .val()
            .trim();
        $.get("/search?title=" + title, function (data) {
            console.log(title);
            console.log(data);
            createGameSection(data);
        });
    });
</script>