<!--THIS IS PROFILE PAGE-->

<div class="ui main container">
    <!-- UZar container -->
    <div class="ui two column grid" id="uzarSticky">
        <!-- UZar Card Info -->
        <div class="ui column">
            <div class="ui sticky">
                <H5 id="userName" class="ui inverted center aligned header">{{user.name}}</H5>
            </div>

            <div class="ui sticky centered large card image">
                <img class="ui rounded fluid image" src="https://media.giphy.com/media/Q2w02BCP1Nvqg/giphy.gif">
                <div class="content">
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        <h4>About:</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis a minima esse...</p>
                    </div>
                    <div class="extra">
                        Rating:
                        <div class="ui star rating"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Game Collection -->
        <div class="ui column ">
            <div class="ui centered grid ">
                <H5 class="ui inverted green center aligned header centered grid">
                    <i class="orange game icon"></i>
                    Game collection</H5>
            </div>

            <!-- Change how many cards to display on each row. -->
            <div class="ui two stackable cards">
                <!-- Game cards -->
                <a class="red card">
                    <H3 class="ui center aligned header">Game 1</H3>
                    <button class="positive ui button" href="#" >View more...</button>
                    <div class=" ui bordered image">
                        <img src="assets/images/grl.jpg">
                        <div class="extra">
                            Rating:
                            <div class="ui heart rating"></div>
                        </div>
                    </div>
                    <div class="ui divider"></div>
                     <div>
                        <button class="ui negative circular icon button">
                            <i class="trash icon"></i>
                        </button>
                    </div>
                </a>
                <!--  -->
                <a class="orange card">
                    <H3 class="ui  center aligned header">Game 2</H3>
                    <div class="ui bordered image">
                        <img src="assets/images/gamelogo.jpg">
                        <div class="extra">
                            Rating:
                            <div class="ui heart rating"></div>
                        </div>
                    </div>
                </a>
                <!--  -->
                <a class="yellow card">
                    <H3 class="ui  center aligned header">Game 3</H3>
                    <div class="ui bordered image">
                        <img src="assets/images/grl.jpg">
                        <div class="extra">
                            Rating:
                            <div class="ui heart rating"></div>
                        </div>
                    </div>
                </a>
                <!--  -->
                <a class="olive card">
                    <H3 class="ui  center aligned header">Game 4</H3>
                    <div class="ui bordered image">
                        <img src="assets/images/gamelogo.jpg">
                        <div class="extra">
                            Rating:
                            <div class="ui heart rating"></div>
                        </div>
                    </div>
                </a>
                <a class="olive card">
                    <H3 class="ui  center aligned header">Game 5</H3>
                    <div class="ui bordered image">
                        <img src="assets/images/gamelogo.jpg">
                        <div class="extra">
                            Rating:
                            <div class="ui heart rating"></div>
                        </div>
                    </div>
                </a>
                <a class="olive card">
                    <H3 class="ui  center aligned header">Game 6</H3>
                    <div class="ui bordered image">
                        <img src="assets/images/gamelogo.jpg">
                        <div class="extra">
                            Rating:
                            <div class="ui heart rating"></div>
                        </div>
                    </div>
                </a>
                <a class="olive card">
                    <H3 class="ui  center aligned header">Game 7</H3>
                    <div class="ui bordered image">
                        <img src="assets/images/gamelogo.jpg">
                        <div class="extra">
                            Rating:
                            <div class="ui heart rating"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- User card -->

{{!-- JS init. --}}
<script>
    $(document).ready(function () {
        $('.ui.sticky')
            .sticky({
                offset: 50,
                context: '#uzarSticky',
            });
        $('.ui.rating')
            .rating({
                initialRating: 1,
                maxRating: 5
            })
            ;
        $.get("/currentuser", function (req, res) {
            console.log(req)
        });
    });
</script>