* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 23px;
  background-image: url("../images/Astro-Gaming-Background-HD.jpg");
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.container {
  margin: 40px;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.description {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.9;
}

.gameImage {
  max-height: 150px;
}

.header {
  font-family: "Orbitron", sans-serif;
}

.content {
  font-family: "Orbitron", sans-serif;
}

.results-field {
  height: 800px;
  width: 100%;
  overflow: scroll;
  color: black;
}

.game-image {
  float: right;
}

.card {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.gameHead {
  font-size: 12px;
  padding-top: 15px;
}

.game {
  margin-bottom: 15px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.edit{
position: relative;
}
.editBtn{
  position: absolute;
  top: 10px;
  right: 10px;
}
.gameImage {
  height: 161px;
}

#userName {
  font-size: 24px;
}
#name {
  font-size: 24px;
}
.ui.card,
.ui.cards>.card {
  background-color: gainsboro;
}
