* {
  box-sizing: border-box;
}
body {
  height: 100%;
  font-size: 25px;
  background-image: url("../images/Astro-Gaming-Background-HD.jpg");
  text-align: center;
}

.container {
  margin: 40px;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.gameImage {
  max-height: 150px;
}

.header {
  font-family: "Orbitron", sans-serif;
}

.content {
  font-family: "Quattrocento Sans", sans-serif;
}

.results-field {
  height: 800px;
  width: 100%;
  overflow: scroll;
  color: black;
}

.game-image {
  float: right;
}

.card {
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;

}
.description {
  font-size: 12px;
}
.gameHead {
  font-size: 12px;
  padding-top: 15px;

}
.game {
  margin-bottom: 15px;
}

.card.content.button {
  padding-bottom: 1000px;
}
