* {
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: 'Cabin Sketch', cursive;
  font-size: 25px;
  /* background-color: khaki; */
  background-image: url("../images/Astro-Gaming-Background-HD.jpg")
}

.uzarLgnCntrd {
  height: 100%;
  background: whitesmoke;
  font-family: 'Cabin Sketch', cursive;
  font-size: 25px;
}

.uzarimg {
  margin-top: -100px;
}

.uzarlogin {
  max-width: 450px;
}

.container{
  margin: 40px;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.gameImage {
  max-height: 150px;
}

.header {
  font-family: 'Orbitron', sans-serif;
}

.content {
  font-family: 'Quattrocento Sans', sans-serif;
}
